@font-face {
    font-family: Poppins;
    src: url(https://fonts.google.com/specimen/Poppins);

    font-family: Open Sans;
    src: url(https://fonts.google.com/specimen/Open+Sans);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    font-weight: 400;
    max-width: 375px;
    min-width: 320px;
    background-image: url(bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.navlink {
    width: 160px;
    padding: 20px 0px 40px 30px;
}



.img1 {
    display: flex;
    justify-content: center;

    img {
        width: 300px;
        margin-bottom: 30px;
    }
}

.all1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        padding: 10px 60px;
        border-radius: 40px;
        border: none;
        cursor: pointer;
        margin-bottom: 20px;
    }

    button:hover {
        background-color: hsl(300, 69%, 71%);
        color: white;
    }

    .hop1,
    .hop2 {
        color: white;
        margin-bottom: 8px;
        font-family: Poppins;
        font-weight: 600;
    }

    p {
        text-align: center;
        padding: 10px 60px;
        line-height: 1.5;
        color: whitesmoke;
        margin-bottom: 5px;
        font-size: 16px;
    }

}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .fa-brands {
        border: 2px solid white;
        margin: 10px;
        padding: 2px 4px;
        border-radius: 50%;
        cursor: pointer;
    }

    .fa-brands:hover {
        border-color: hsl(300, 69%, 71%);
    }
}

@media (min-width:1200px) {
    body {
        font-family: Poppins;
        font-weight: 400;
        max-width: 1440px;
        background-image: url(bg-desktop.svg);
        background-color: hsl(257, 40%, 49%);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .navlink {
        width: 250px;
        padding: 50px 0px 70px 90px;
    }

    .all2 {
        display: flex;
        flex-direction: column;
        margin-left: 90px;
        padding: 0px;
    }


    .img1 {
        display: flex;
        justify-content: center;

        img {
            width: 840px;
            padding-left: 90px;
        }
    }

    .all1 {
        display: flex;
        flex-direction: column;
        align-self: start;


        button {
            margin-left: -350px;
            padding: 15px 50px;
            border-radius: 40px;
            border: none;
            cursor: pointer;
            margin-bottom: 50px;
        }

        button:hover {
            background-color: hsl(300, 69%, 71%);
            color: white;
        }


        .hop2 {
            color: white;
            font-family: Poppins;
            font-weight: 600;
            margin-bottom: 15px;
            margin-left: -20px;


        }

        .hop1 {
            color: white;
            font-family: Poppins;
            font-weight: 600;
            margin-bottom: 8px;
            margin-top: 50px;

        }

        p {
            text-align: left;
            padding: 10px 110px 20px 0px;
            line-height: 1.5;
            color: whitesmoke;
            margin-bottom: 5px;
            font-size: 16px;
        }

    }

    footer {
        display: flex;
        justify-content: flex-end;
        margin-top: -60px;
        margin-right: 80px;

        .fa-brands {
            border: 2px solid white;
            margin: 5px;
            padding: 2px 4px;
            border-radius: 50%;
            cursor: pointer;
        }

        .fa-brands:hover {
            border-color: hsl(300, 69%, 71%);
        }
    }

}

