@font-face {
    font-family: Poppins;
    src: url(https://fonts.google.com/specimen/Poppins);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-image: url('bg-desktop.svg');
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    z-index: -1;
    max-width: 90rem;
    font-family: sans-serif;
    font-weight: 400;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 6.25rem;
    margin-bottom: 1.25rem;

    img {
        width: 46.875rem;
        padding: 0.3125rem;
    }
}

.profile {
    padding-top:1.25rem;
    padding-left:3.125rem;
    width: 17rem;
}

.message {
    padding: 1.875rem;

    p {
        font-size: 0.6875rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;
        color: white;

    }

    .hop2 {
        margin-top: -5.625rem;
        margin-bottom: 0.625rem;
        color: white;
        font-family: Poppins;
        font-weight: 600;
    }

    .hop1 {
        margin-bottom: 1.25rem;
        color: white;
        font-family: Poppins;
        font-weight: 600;

    }

    button {
        padding: 0.625rem 2.5rem;
        border-radius: 1.25rem;
        border: 0.0625rem solid purple;
        background-color: white;
        color: darkgray;
        cursor: pointer;
    }

    button:hover {
        background-color: magenta;
        color: white;
    }
}



footer {
    display: flex;
    justify-content: flex-end;
    margin-top:-1.25rem;

    .fa-brands {
        width: 2.5rem;
    }
}

@media screen and (max-width:23.4375rem) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.625rem 0.3125rem;

        img {
            width: 18rem;
            padding: 0.3125rem;
            margin-bottom: 5rem;
        }
    }

    .profile {
        padding: 1rem;
        width: 12rem;
    }

    .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            font-size: 1.0625rem;
            line-height: 1.5;
            margin-bottom: 1.25rem;
            color: rgb(211, 211, 211);
            font-family: sans-serif;
            font-weight: 400;
            word-spacing: 0.125rem;
            text-align: center;
        }

        .hop2 {
            margin-top: -5.625rem;
            margin-bottom: 0.625rem;
            color: white;
            word-spacing: 0.125rem;
            text-align: center;
        }

        .hop1 {
            padding-left: 0.625rem;
            margin-bottom: 1.25rem;
            color: white;
            word-spacing: 0.125rem;
            text-align: center;
        }

        button {
            padding: 0.625rem 2.5rem;
            border-radius: 1.25rem;
            border: 0.0625rem solid purple;
            background-color: white;
            color: darkgray;
            cursor: pointer;

        }
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top:-3.125rem;

        .icons {
        

            .fa-brands {
                margin: 0.625rem;

                width: 1.25rem;
            }
        }
    }

}

